.write{
    padding-top: 50px;
}

.writeImg {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.writeIcon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid rgb(129, 125, 125);;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: rgb(129, 125, 125);
    cursor: pointer;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    margin-left: 115px;
    display: flex;
    align-items: center;
}

.writeInput{
    font-size: 30px;
    border: none;
    padding: 20px;
    width: 70vw;
    border-bottom: 1px solid rgb(129, 125, 125);
}

.writeInput::placeholder {
    color: rgb(189, 185, 185);
    font-weight: 400;
}

.writeInput:focus {
    outline-style: none;
}

.writeText {
    width: 70vw;
    height: 100vh;
    font-family: inherit;
    font-size: 20px;
}

.writeSubmit {
    /* position: absolute; 
    top: 10px;
    right: 10px; */
    color: white;
    background-color: burlywood;
    margin: 25px;
    margin-left: 77%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;

}